
<%= form_for @picture do |f| %>

	<ul>
		<li> <h2> Edit Picture </h2> </li>


		  <li>
		    <div class="label"><%= f.label "artist" %></div><br>
		    <div class-"input"><%= f.text_field "artist" %></div>
		  </li>

		  <li>
		    <div class="label"><%= f.label "title" %><br>
		    <div class-"input"><%= f.text_field "title" %></div>
		  </li>

		  <li>
		    <div class="label"><%= f.label "url" %><br>
		    <div class-"input"><%= f.text_field "url" %></div>
		  </li>

		  <li>
		    <div id="button"><%= submit_tag "Save" %></div>
		  </li>

  </ul>
<% end %>