<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


<body>

<div id="container">
	<nav class="nav-bar">
		<ul class="nav-bar">
				<li id="title"><%= link_to "Photogur", "/pictures/" %></li>
				<li><%= link_to "New Picture", "/pictures/new" %></li>
				<li id="delete"> <%= link_to "Delete", @picture, :confirm => "Are you sure you want to delete this picture?", :method => :delete %> </li>
		</ul>
	</nav>



	<%= yield %>


	</div>
</body>
</html>
